header{
    background-color:rgb(52, 135, 173);
    width: 100%;
    height: 100px;
    left: 0px;
    top: 0px;
    position: absolute;
    
        .logo{
            float: left;

            
           
            #logoImage{
                width : 100px;
                height: 100px;
                float: left;
            }
        }
        .logotext{
            float: left;
            margin-left: 5px;
            margin-top: 15px;
        }
        .nav-bar{
            ul{
                //float: left;
                //margin-left: 5px;
                li{
                    float: left;
                    margin-left: 20px;
                    margin-top: 10px;
                    list-style: none;
                }
            }
        }
        .search{
            float: left;
            margin-top: 45px;
            margin-left: 30px;
        }
        
    }
